---
import Layout from "../layouts/BlogPost.astro";
const pubDate = new Date("2024-10-01");
---

<Layout
  title="About Me"
  description="Dave Mainville"
  heroImage="/blog-placeholder-about.jpg"
  pubDate={pubDate}
>
  <p>
    I’ve always been fascinated by how things work. As a kid, I loved building
    with Lego bricks, breaking apart gadgets, and figuring out how everything
    fit together.
  </p>
  <p>That curiosity never left me.</p>
  <p>
    Today, I apply that same mindset to technology, business, and personal
    development. I lead engineering teams, help business owners build marketing
    systems, and coach professionals on how to focus and get things done.
  </p>
  <p>
    But more than anything, I believe in freedom through systems. Whether it’s
    in work or life, the right structure can remove stress and help you grow
    without burnout.
  </p>

  <h3>My Values</h3>
  <p>
    <ul>
      <li>
        <strong>Agency &amp; Freedom:</strong> I believe in taking control of one's
        destiny and supporting others to do the same.
      </li>
      <li>
        <strong>Transparency &amp; Honesty:</strong> Open communication builds trust
        and meaningful connections.
      </li>
      <li>
        <strong>Honor &amp; Humility:</strong> Leading by example and valuing everyone's
        contributions is key to collective success.
      </li>
      <li>
        <strong>Generosity:</strong> Sharing time, knowledge, and resources enriches
        our communities.
      </li>
      <li>
        <strong>Adventure:</strong> Embracing new experiences keeps life exciting
        and fosters growth.
      </li>
    </ul>
  </p>
  <h3>My Professional Journey</h3>
  <p>
    As a seasoned full-stack developer, I've built a career on curiosity and a
    love for solving complex problems. I now lead teams to have more impact with
    less operational overhead.

    <ul>
      <li>
        <strong>Cloud Infrastructure:</strong> Specializing in AWS and Azure environments.
      </li>
      <li>
        <strong>DevOps Tooling:</strong> Proficient with Terraform for Infrastructure
        as Code, Kubernetes orchestration, and CI/CD pipelines using GitLab and GitHub
        automation.
      </li>
      <li>
        <strong>Programming:</strong> Developing robust applications across the full
        tech stack.
      </li>
    </ul>
  </p>

  <h3>Leisure</h3>
  <p>
    Life is an adventure, and I enjoy it through various hobbies:
    <ul>
      <li>
        <strong>Gaming:</strong> PC Gaming is my Preferred medium to experience the
        best of storytelling and deepend connections with my friends. My wife and
        I are also avid table-top gamers.
      </li>
      <li>
        <strong>FPV Race Drones:</strong> Building and piloting drones combines my
        technical skills with a thrill for exploration.
      </li>
      <li>
        <strong>Disc Golf:</strong> This sport keeps me grounded, focused, and connected
        with nature.
      </li>
      <li>
        <strong>Target Shooting:</strong> Discipline and precision. The care and
        routine of preparing, practicing with, and cleaning everything after a day
        on the range is a cherished pastime deeply rooted in family bonds and memories
        my childhood.
      </li>
      <li>
        <strong>Photography:</strong> Capturing macro and candid moments allows me
        to see the world through a unique lens.
      </li>
      <li>
        <strong>Home Lab Projects:</strong> Experimenting with multi-node setups
        for Home Assistant, Plex, and development environments to fuel my side projects
        and continuous learning.
      </li>
    </ul>
  </p>
</Layout>
