---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello</h1>
      <p>
        I'm a father, husband, mentor, marketer, and full-stack cloud engineer
        with a passion for technology, adventure, and continuous learning.
      </p><p>
        This is where I share my journey through topics of tech, hobbies,
        business and personal development.
      </p>
      <p>Check out my <a href="/blog">projects</a> or more <a href="/about">about me.</a></p>
    </main>
    <Footer />
  </body>
</html>
