---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Order from Chaos</h1>
      <p>
        I <strong><em>love</em></strong> solving complex problems and turning messy
        ideas into simple, repeatable systems.
      </p><p>
        Whether it’s technology, business, or personal growth, I believe the
        right systems can bring freedom instead of stress.
      </p>
      <p>
        This blog is where I share my thoughts on resilient technology,
        marketing, productivity, and life:<ul>
          <li>
            <strong>Technology & Leadership</strong> → Lessons from leading technical
            teams at a large multi-national company.
          </li>
          <li>
            <strong>Marketing & Business Growth</strong> → How to grow a business
            without working more.
          </li>
          <li>
            <strong>Personal Development & Focus</strong> → Systems for organizing
            life and work.
          </li>
          <li>
            <strong>Hobbies & Family Life</strong> → AI art, race drones, gaming,
            and reflections on being a husband and father.
          </li>
        </ul>
        <p>
          I tend to multiple projects, each with a unique focus — check my <a
            href="/project">projects</a
          > or more <a href="/about">about me.</a>
        </p>

        <Footer />
      </p>
    </main>
  </body>
</html>
